/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* CSS */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");

:root {
  font-size: 14px;
}
body {
  display: grid;
  grid-template-columns: 1fr 5fr;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  background-color: #d8e1ec;
  line-height: 1.25rem;
}

h1 {
  font-weight: 900;
  font-size: 1.75rem;
}

h3 {
  font-weight: 700;
  font-size: 1.25rem;
}

h4 {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.sidebar {
  grid-row: span 2;
  display: grid;
  gap: 2.5rem;
  align-content: start;

  background-color: #0284c7;
  color: white;
  padding: 1rem;
}

.sidebar a {
  text-decoration: none;
  color: white;
  font-weight: 700;
  font-size: 1.125rem;
}

.sidebar img {
  justify-self: center;
}

.sidebar li,
.dash-title {
  display: grid;
  grid-template-columns: 20% 1fr;
  justify-items: start;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

header {
  grid-column: 2/3;
  display: grid;
  background-color: white;
  padding: 1rem 2rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.header-top-right {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.header-top-right > img {
  width: 36px;
  height: 36px;
  border-radius: 50%;
}

.search-container {
  display: flex;
  align-items: center;
  width: 50%;
  gap: 1rem;
}

.search-container input {
  flex: 1;
  border-radius: 0.75rem;
  border: none;
  background-color: #d8e1ec;
  height: 1.5rem;
}

.header-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-info {
  display: grid;
  grid-template-areas:
    "img p"
    "img h1";
  gap: 1rem;
}

.user-info > img {
  grid-area: img;
  width: 48px;
  height: auto;
  border-radius: 50%;
}

.user-info > p {
  grid-area: p;
}

.user-info > h1 {
  grid-area: h1;
}

.header-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.header-buttons > button {
  background: #0284c7;
  border-radius: 999px;
  color: #ffffff;
  cursor: pointer;
  font-weight: 700;
  opacity: 1;
  outline: 0 solid transparent;
  padding: 8px 18px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  word-break: break-word;
  border: 0;
}

main {
  grid-column: 2/3;
  display: grid;
  grid-template: 1fr 1fr/3fr 1fr;
  gap: 1rem;
  padding: 2rem;
}

article {
  grid-row: 1/-1;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(35ch, 47%));
  justify-content: start;
  gap: 15px;
  margin-top: 1rem;
}

.card {
  height: 150px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 0.5rem;
  border-left: 0.5rem solid #f0b429;
  padding: 2rem 1rem;
}

.card p {
  color: rgb(58, 58, 58);
  overflow: hidden;
}

.card-links {
  display: flex;
  gap: 1rem;
  align-self: end;
}

.card > p {
  flex: 1;
}

.announcements {
  background-color: white;
  border-radius: 0.5rem;
  padding: 2rem 1rem 0 1rem;
  margin-top: 1rem;
}

.announcements > *:not(:last-child) {
  margin-bottom: 1rem;
  border-bottom: 1px solid rgb(146, 146, 146);
}

.announcement-title {
  font-size: 1rem;
  margin: 0;
}
.announcement-card p {
  font-size: 0.75rem;
  line-height: 1rem;
  color: rgb(58, 58, 58);
  padding-bottom: 1rem;
}
